@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
  --primary-white: #fff;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

/*--- navbar ---*/
.navbar {
  padding: 0.5rem;
}

.logo {
  height: 3rem;
}

.navbar-brand {
  padding: 0.3125rem 1rem 0.3125rem 1rem;
  margin: 0;
}

nav a .nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.nav-link {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  font-size: 0.9rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid transparent;
}

.nav-link:hover {
  border-top: 0.1875rem solid rgb(105, 230, 94);
}

.nav-link:focus, .navbar-nav > li > a .active {
  border-top: 0.1875rem solid rgb(105, 230, 94);
}
